body {
   
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 150vh;
  background-image: linear-gradient(rgba(207, 208, 216, 0.75),rgba(192, 197, 212, 0.75)),url(./images/bg.jpg);
  background-size: cover;
  background-position: center;
  font: 1em sans-serif;
  font-size: 10px;
  color: black;
}

.logo {
    height: 8rem;
    width: 8rem;
    cursor: pointer;
  }

.div_main{
    text-align: center;
    align-items: center;
    margin: auto;

}
.createButton {
    margin-top: 1.5rem;
    padding: 10px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 20px;
    background-color: #3372a5;
    color: #fff;
    font-size: 1rem;
  }