.container{
    padding-top: 5%;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    padding-right: 15%;
    padding-left: 15%;
    padding-bottom: 5%;
    margin-bottom: 10%;
    background-color:#3adca6 ;
}

button{
    margin-left: 15px;

}
h1{
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-stretch: expanded;
}
span{
    color: rgb(47, 52, 46);
    
}